
.hidden {
    display: none;
}

.tab-btn{
padding:12px 38.5px;
border-radius:6px;
background:#fff;
color: #64748B;
border: 1px solid #E4E4E7;
}

.active{
background:#4A00FF;
color:white;
}

.high {
    background-color: #FEECEC;
    color: #EF4444;
}

.medium {
    background-color: #FFF6D1;
    color: #F59E0B;
}

.low {
    background-color: #EEEFF2;
    color: #9CA3AF;
}

.border-top-green{
    border-top: #00A96E;
}

.border-top-red{
    border-top: #EF4444;
}